#main{
	border-style: solid;
	background-color: slategrey;
	margin-left: 7%;
	margin-right: 30%;
}

#home_icon{
	font-size: 25pt;
	height: 50px ;
	width: 50px;
	float: left;
	width: 33.3%;
	margin-left: 5%;
	margin-top: 5pt;
}

#analysis_icon{
	font-size: 25pt;
	height: 50px ;
	width: 50px;
	border: 'black';
	border-style: 'solid';
	float: right;
	width: 33.3%;
	margin-top: 5pt
}

#map_icon{
	font-size: 25pt;
	height: 50px ;
	width: 50px;
	border: 'black';
	border-style: 'solid';
	margin: 0 auto;
	width: 33.3%;
	margin-top: 5pt
}

#text{
	border-style: solid;
	height: 100%;
    width: 33.3%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 15pt;
    float: left;
}

#introMap{
	height: 100%;
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    Float: right;
}

#map-canvas{
	height: 100%;
    width: 100%;
    font-size: 50pt;
}

#mainDisplay{

}